.header {
    display: flex;
    /* position: relative; */
}


.profile__img {
    width:8rem;
    height:8rem;
    object-fit: cover;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.profile__img:hover {
    background: transparent;
}

.twitter {
    
}
.share-bar {
    position:absolute;
    border: 1px dashed black;
    border-radius: 50%;
    margin-top: 2rem;
    margin-left: -20%
}